/* Título */
.titulo-lista {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
    font-size: 34px;
    font-weight: 600;
    color: #d81b60;
}

/* Formulário de busca */
.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.search-input {
    padding: 12px 15px;
    width: 300px;
    border-radius: 30px 0 0 30px;
    border: 2px solid #d81b60;
    outline: none;
    font-family: 'Poppins';
}

.search-btn {
    background-color: #d81b60;
    border: none;
    padding: 12px 20px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    color: white
